# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.lock
!pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows build
windows/flutter/ephemeral/
windows/runner/Debug/
windows/runner/Release/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/

# Firebase — real keys, never commit
lib/firebase_options_real.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Env
.env
